{% code
type Page struct {
Title string
Description string
}
%}

{% func CommonHeaders() %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<script src="http://localhost:3000/assets/htmx.js"></script>

<script src="http://localhost:3000/assets/unocss.js"></script>

<!-- <link rel="stylesheet" href="http://localhost:3000/assets/pico.css"> -->

<link rel="stylesheet" href="http://localhost:3000/assets/style.css">

<script defer src="http://localhost:3000/assets/alpine-collapse.js"></script>

<script src="http://localhost:3000/assets/alpine.js" defer></script>

<style>
    [un-cloak] {
        display: none;
    }
</style>

<!-- TODO remove before pushing to production -->
<script>
    var wsuri = "ws://localhost:1234/ws";
    window.onload = function () {
        sock = new WebSocket(wsuri);
        sock.onopen = function () {
            console.log("connected to " + wsuri);
        }
        sock.onclose = function (e) {
            console.log("connection closed (" + e.code + ")");
        }
        sock.onmessage = function (e) {
            window.location.href = window.location.href
        }
    };
    htmx.logAll()
</script>

{% endfunc %}

{% func IndexPage(p *Page, body string) %}
<!DOCTYPE html>
<html lang="en" data-theme="dark">

<head>
    <title>{%s p.Title %}</title>
    <meta name="description" content="{%s p.Description %}">
    {%s= CommonHeaders() %}

</head>

<body>
    {%s= body %}
    <div class="alert alert-primary" role="alert">
        A simple primary alert—check it out!
    </div>
    <div class="alert alert-secondary" role="alert">
        A simple secondary alert—check it out!
    </div>
    <div class="alert alert-success" role="alert">
        A simple success alert—check it out!
    </div>
    <div class="alert alert-danger" role="alert">
        A simple danger alert—check it out!
    </div>
    <div class="alert alert-warning" role="alert">
        A simple warning alert—check it out!
    </div>
    <div class="alert alert-info" role="alert">
        A simple info alert—check it out!
    </div>
    <div class="alert alert-light" role="alert">
        A simple light alert—check it out!
    </div>
    <div class="alert alert-dark" role="alert">
        A simple dark alert—check it out!
    </div>
</body>

</html>
{% endfunc %}



{% func IndexBody() %}
<h1> Title </h1>
<button hx-get="first">
    <a href="first"></a>
    First
</button>
<code>Let's go there</code>
{% endfunc %}